.btn-disabled{
  cursor: not-allowed !important;
  background-color: #ffffff;
}

.modal-label{
  padding: 0 1em;
  text-align: right;
  float: left;
  }
  
.box{
  border-radius: 0.3em;
  margin-left: 10px;
  }

.p-edit{
  font-weight: bold; 
  }

.search-cont{
  padding-top: 50px;
}

.div {
  margin: 0 auto;
  width: 30%;
}
.div-m{
  text-align: center;
}
.div-info{
  text-align: left;
}
  
.div-hide{
  display: none;
}